body{
 margin: 0;
 width: 100%;
 height: 2200px;
 background: #555;
}
a{
  text-decoration: none;
  color: inherit;
}
p{
  /* font-family: "Ms Gothic" */
}
#search{
  display: none;
}
#text{

}
#sbtn{
  border-radius: 5px;
  cursor: pointer;
}
#sbtn:hover{
  opacity: 0.9;
}
#header-right{
  float:right;
  float:right;
  margin-right:15px;
  margin-top: 20px;
  color:#fff;
  width:35px;
  cursor: pointer;
  display: inline-block;
}
#header-right.re{
  display: inline-block;
}
#header-right.r{
  display: none;
}
.arrow{
   position: fixed;
   bottom: 20px;
   left: 20px;
   font-size: 2.8em;
   color: #cc0000;
   opacity: 0.6;
   text-decoration: none;
   z-index: 11;
}
.top-wrap{
  width: 100%;
  height: 800px;
  background-image: url(http://image.tianjimedia.com/uploadImages/2012/125/EJWD53V2Y771_forests16.jpg);
  background-size: cover;
  margin: 0;
}
.co{
  width:100%;
  margin-top: 170px;
  text-align: center;
  display: inline-block;
}
.co img{
  border: 2px groove black;
}
.container{
 margin:0 auto;
 width:100%;
 background: #1E90FF;
 height:70px;
 font-size:25px;
 font-weight:bold;
 position:fixed;
 top: 0;
 background-color:rgba(10,0,150,0.5);
 z-index: 12;
}
#tabu{
 width:150px;
 height:800px;
 background:#de8887;
 float:right;
 display:inline-block;
 position:absolute;
 top:0;
 right:0;
 z-index:10;
 text-align:center;
 font-size:20px;
 color: #fff;
 background-color:rgba(50,50,100,0.7);
 transition: .5s;
}
#tabu.appear{
 transform: translate(250px,0);
}
#mask{
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
#mask.hidden{
  display: none;
}
#login{
  cursor: pointer;
  padding: 8px 0 8px 0;
  margin-top: 50px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  background-color: rgba(15, 23, 90, 0.9);
}
#mail{
  cursor: pointer;
  padding: 8px 35px;
  margin-top: 0;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  background-color: rgba(15, 23, 90, 0.9);
  width: 100%;
  color: #fff;
  text-decoration: none;
}
#modal{
  background: #fff;
  height: 500px;
  width: 400px;
  border-radius: 5px;
  text-align: center;
  margin: 90px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: .9s;
}
#modal.hidden{
  transform: translate(-800px, -800px);
}
#modal h4{
  text-align: center;
  font-size: 30px;
  background-color: #eee;
  padding: 30px 25px 30px 0;
  margin:0 0 35px 0;
}
#input1,#input2{
  width: 350px;
}

#idconfirm{
  font-size: 15px;
  font-weight: normal;
}
#idconfirm.chcolor{
  color: red;
}
#pasconfirm{
  font-size: 15px;
  font-weight: normal;
}
#pasconfirm.chcolor{
  color: red;
}
#sub,#pasu{
  font-size: 14px;
  text-decoration: none;
  color: black;
}
#sub{
  background-color: green;
  padding: 3px 7px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px black;
  user-select: none;
}
#sub.push{
  box-shadow: 0 0 black;
}
#pasu{
  background: #ff9933;
  padding: 3px 7px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px black;
  user-select: none;
}
#pasu.push{
  box-shadow: 0 0 black;
}
#loginBtn{
  background: blue;
  color: #fff;
  box-shadow: 3px 5px black;
  cursor: pointer;
  width: 60%;
  margin: 30px auto;
  border-radius: 6px;
  font-size: 20px;
  user-select: none;
}
#loginBtn.push{
  box-shadow: 0 0 black;
}
#circle{
 float:left;
 margin:0;
 font-size:1.5em;
 cursor: pointer;
}
#Mcircle{
  float:left;
  margin:0;
  font-size:1.4em;
  cursor: pointer;
}
.header-left{
 margin:auto 10px;
 font-size:40px;
 color: #2F4F4F;
 float:left;
 font-family: cursive ;
}
.header-left a{
 text-decoration:none;
 color:#fff;
}
.menus{
  display: none;
}
.main{
 /* padding:5px 5px 0 5px; */
 margin: 0;
 background:#eee;
 height:2400px;
 color:black;
 text-align:center;
 width: 100%;
}
#contain{
 width: 100%;
 text-align: center;
 height: 2400px;
}
#mains{
 background:#fff;
 height:2400px;
 padding-top: 110px;
 margin:0;
 width:100%;
}
#mains p{
  font-family: "Ms Gothic";
}
.content{
  margin-bottom: 110px;;
  align-items: center;
  display: flex;
  text-align: center;
}
.content h3{
  width: 100%;
  color: black;
  transform: skewX(-15deg);
  margin-top: -30px;
  font-family: "游明朝";
  font-size: 33px;
  text-align: center;
  z-index: 3;
}
.content::before,.content::after{
  content: "";
  height: 1.5px;
  background: #444;
  flex-grow: 1;
  display: inline-block;
}
.content::before{
  margin-right: .6em;
  background: linear-gradient(120deg,#000,transparent);
}
.content::after{
  margin-left: .6em;
  background: linear-gradient(-120deg,#000,transparent);
}
.leaf{
  font-size: 4em;
  text-align: center;
  color:#bbb;
  z-index: 2;
}
.top-imgs{
  text-align: center;
  display: flex;
  width: 100%;
  margin-bottom: 100px;
}
.top-img{
  width: 100%;
  margin: 0 auto;
}
.top-img img{
  cursor: pointer;
  border-top: 1px solid black;
}
.topp{
  font-weight: bold;
}
.hiddenp{
  font-size: 13px;
  margin: 20px auto;
}
.con{
  width: 100%;
}
#animalex1{
  display: none;
}
#animalex2{
  display: none;
}
#animalex3{
  display: none;
}
#animalex4{
  display: none;
}
#animalex5{
  display: none;
}
#animalex6{
  display: none;
}
#animalex7{
  display: none;
}
.bottom-imgs{
  padding-bottom: 30px;
}
.bottom-imgs>p{
  font-size: 35px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  padding-bottom: 25px;
}
.bottom-img{
  margin: 3px;
  margin-top: 22px;
  padding: 5px;
  width:50%;
}
.bottom-img img{
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
#bottom_img{
  text-align: center;
  margin: 0 auto;
}
.bottomp{
  margin: 0;
  font-family: gothic;
  font-weight: bold;
}
.flex{
  width: 100%;
  margin-bottom: 0px;
}
.flex2{
  display: flex;
  width: 100%;
  margin-bottom: 0px;
}
.footer{
 position: relative;
 height:250px;
 background:#ccc;
 /* margin:0; */
 border-top: solid 2px black;
 border-bottom: solid 2px black;
 transform: skewY(10deg);
 z-index: 3;
}
.footer>#contain{
  height: 250px;
}
#footer-left{
 padding: 0;
 transform: skewY(-10deg);
 position: absolute;
 top: 30px;
}
#footer-left ul{
 float:left;
}
#footer-left h3{
 margin: 0 20px;
 font-size: 23px;
 text-align: left;
}
.footer li {
 margin-top:0px;
 list-style:none;
 font-size:13px;
 line-height: 26px;
 text-align: left;
}
.footer li a{
 text-decoration: none;
 color:black;
}
.twitter{
 float: right;
 margin: 20px 10px;
 color: #fff;
 background-color: #0099ff;
 font-size: 30px;
 padding: 6px;
 border-radius: 5px;
 transform: skewY(-10deg);
}
.instagram{
 display: inline-block;
 color: #fff;
 background: linear-gradient(-180deg,#d400fa,#d35d27);
 float: right;
 margin: 20px 10px;
 font-size:38px;
 padding: 3px 5px;
 border-radius: 10px;
 transform: skewY(-10deg);
}
.facebook{
 float: right;
 color:darkblue;
 padding: 0;
 margin: 20px 10px;
 font-size:2.9em;
 transform: skewY(-10deg);
}
.contain2{
  height: 250px;
  background:#eee;
  margin:0;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  transform: skewY(-6deg);
  position: relative;
  top: -300px;
  z-index: 2;
}
.myname{
  margin-top: 330px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-size:12px;
  transform: skewY(6deg);
  color: #ccc;
}

@media(min-width:670px){
  h1{
    letter-spacing: 6px;
  }
  .co img{
    width: 400px;
    height: 400px;
  }
  .con{
    width: 100%;
    padding-top: 60px;
  }
  #tabu{
    display: none;
  }
  .menus{
    margin-top: 20px;
    margin-left:190px;
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
    float: right;
    color: #fff;
  }
  .pcmenu{
    margin-right: 100px;
    display: inline-block;

  }
  .flex{
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 700px;
  }
  .flex2{
    max-width: 700px;
    margin: 0 auto;
  }
  .leaf{
    font-size: 6em;
  }
  .leaf h3{
    font-size: 50px;
  }
  #animalex1{
    display: block;
    font-size: 14px;
    height: 50px;
  }
  #animalex2{
    display: block;
    font-size: 14px;
    height: 50px;
  }
  #animalex3{
    display: block;
    font-size: 14px;
    height: 30px;
  }
  #animalex4{
    display: block;
    font-size: 14px;
    height: 30px;
  }
  #animalex5{
    display: block;
    font-size: 14px;
    height: 40px;
  }
  #animalex6{
    display: block;
    font-size: 14px;
    height: 40px;
  }
  #animalex7{
    display: block;
    font-size: 14px;
    height: 40px;
  }
  .hiddenp{
    display: none;
  }
  .bottom-img img{
    width: 200px;
    height: 200px;
  }
  #bottom_img img{
    width: 200px;
    height: 200px;
  }
  #footer-left{
   margin-left: 20px;
   transform: skewY(-10deg);
   position: absolute;
   top: 30px;
  }
  #footer-left ul{
   float:left;
  }
  #footer-left h3{
   margin:0px 0 0 10px;
   font-size: 27px;
   /* display: inline-block; */
  }
  .footer li {
   margin-top:0px;
   list-style:none;
   font-size:16px;
   line-height: 28px;
  }
  .footer li a{
   text-decoration: none;
   color:black;
  }
  .facebook{
    margin: 90px 30px;
  }
  .instagram{
    margin: 90px 30px;
  }
  .twitter{
    margin: 90px 30px;
  }
  .myname{
    font-size: 16px;
    text-align: center;
  }
}

@media(min-width:1000px){
  #header-right{
    display: none;
  }
  .top-img img{
    width: 300px;
    height: 300px;
  }
}
