body{
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 font-family: 'Comic Sans MS', 'sans-selif';
}
a{
  text-decoration: none;
  color: white;
}
li{
  list-style: none;
}
header{
  margin:0 auto;
  width:100%;
  height:70px;
  font-size:25px;
  font-weight:bold;
  position:fixed;
  top: 0;
  background-color: rgba(125, 40, 30, 0.85);
  z-index: 12;
}
header .container{
  position:fixed;
  width: 100%;
  margin: 0 auto;
}
.header-left{
  margin:10px 10px;
  font-size:40px;
  letter-spacing: 2px;
  float:left;
  user-select: none;
}
.header-left a{
  color: #fff;
}
.menus{
  display: none;
}
#search{
  float: right;
  display: none;
}
#sbtn{
  cursor: pointer;
}
#sbtn:hover{
  opacity: 0.9;
}
#header-right{
  display: inline-block;
  float:right;
  margin-right:15px;
  margin-top: 23px;
  color:#fff;
  width:35px;
  cursor: pointer;
}
#header-right.hidden{
  display: none;
}
.arrow{
   position: fixed;
   bottom: 20px;
   left: 20px;
   font-size: 2.8em;
   color: #cc0000;
   opacity: 0.6;
   z-index: 11;
}
.top-wrapper{
  width: 100%;
  height: 810px;
  background-image: url(http://image.tianjimedia.com/uploadImages/2012/125/EJWD53V2Y771_forests16.jpg);
  filter: brightness(95%);
  background-size: cover;
  margin: 0;
}
.top-wrapper .container{
  width:100%;
  padding:0px;
  margin:0;
}
h1{
  font-size: 4.8em;
  text-align: center;
  color: #fff;
  padding-top: 180px;
  margin: 0;
  width: 100%;
}
.explain{
  color: #fff;
  font-size: 17px;
  text-align: center;
  margin: 50px auto;
  width: 100%;
  font-weight: 600;
}
#tabu{
 width:150px;
 height:800px;
 background-color: rgba(125, 40, 30, 0.85); opacity: .85;
 float:right;
 display:inline-block;
 position:absolute;
 top:0;
 right:0;
 z-index:10;
 text-align:center;
 font-size:20px;
 color: #fff;
 transition: .5s;
}
#tabu.hidden{
 transform: translate(250px,0);
}
.tabu-btn{
  width: 100%;
  cursor: pointer;
  text-align: center;
  letter-spacing: 3px;
  display: inline-block;
  color: #fff;
  background: rgba(155, 40, 30, 0.85);
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
#login{
  padding: 8px 0;
  margin-top: 50px;
}
#contents{
  padding: 8px 0;
  margin-top: 0;
  margin-bottom:20px;
}
#to_news{
  padding:8px 0;
}
#mask{
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
#mask.hidden{
  display: none;
}
#modal{
  background: #fff;
  height: 480px;
  width: 80%;
  text-align: center;
  margin: 90px auto;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}
#modal h4{
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  background-color: #ddd;
  padding: 30px 0;
  width: 100%;
  margin:0 0 35px 0;
}
#input1,#input2{
  width: 80%;
}

#idconfirm{
  font-size: 13px;
  font-weight: normal;
}
#idconfirm.chcolor{
  color: red;
}
#pasconfirm{
  font-size: 13px;
  font-weight: normal;
}
#pasconfirm.chcolor{
  color: red;
}
#sub,#pasu{
  font-size: 14px;
  color: black;
}
#sub{
  background-color: green;
  padding: 3px 7px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px black;
  user-select: none;
}
#sub:hover{
  opacity: .9;
}
#sub:active{
  box-shadow: 0 0 black;
}
#pasu{
  background: #ff9933;
  padding: 3px 7px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px black;
  user-select: none;
}
#pasu:hover{
  opacity: .9;
}
#pasu:active{
  box-shadow: 0 0 black;
}
#loginBtn{
  box-shadow: 1.5px 3px #003399;
  width: 60%;
  background: #3399ff;
  color: #fff;
  margin: 30px auto;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
#loginBtn:hover{
  opacity: .9;
}
#loginBtn:active{
  box-shadow: 0 0 black;
}
#circle{
 float:left;
 margin:0;
 font-size:1.5em;
 cursor: pointer;
}
#Mcircle{
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  border-radius: 50%;
  float: right;
  margin: 0;
  font-size: 1.4em;
  cursor: pointer;
}
.main{
 margin: 0;
 background:#eee;
 height:100%;
 width: 100%;
}

.main .container{
 background:#fff;
 height:100%;
 margin:0 auto;
 padding-top:100px;
}
.contents{
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
  display: flex;
  align-items: center;
}
.contents h3{
  width: 100%;
  color: black;
  margin-top: -30px;
  font-size: 33px;
  text-align: center;
  z-index: 3;
}
.leaf{
  font-size: 4em;
  text-align: center;
  color:#bbb;
  transform: skewX(-15deg);
  z-index: 2;
}
.leaf>h3{
  font-family: 'Comic Sans Ms';
}
.contents::before,.contents::after{
  content: "";
  display: inline-block;
  background: #444;
  flex-grow: 1;
  height: 1.6px;
}
.contents::before{
  margin-right: .5em;
  background: linear-gradient(100deg,#000,transparent)
}
.contents::after{
  margin-left: .5em;
  background: linear-gradient(-100deg,#000,transparent)
}
.contents-img{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.contents-img p{
  background: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
  border-radius: 15px;
}
.contents-img img{
  clip-path: polygon(8% 0,100% 0%, 92% 100%, 0% 100%);
}
.news{
  width: 100%;
  margin-top: 20px;
  padding-bottom: 30px;
}
.newsline{
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.newsline::before,.newsline::after{
  height: 1.5px;
  background: black;
  content: "";
  flex-grow: 1;
  display: inline-block;
}
.newsline::before{
  margin-right: .6em;
  background: linear-gradient(120deg,#000,transparent);
}
.newsline::after{
  margin-left: .6em;
  background: linear-gradient(-120deg,#000,transparent);
}
.news h3{
  text-align: center;
  font-size: 33px;
  transform: skewX(-15deg);
}
.news ul{
  margin: 0 20px;
}
.news ul li{
  font-size: 13px;
  list-style-type: circle;
}
footer{
 position: relative;
 top: 170px;
 height:250px;
 background:#ccc;
 border-top: solid 2px black;
 border-bottom: solid 2px black;
 transform: skewY(10deg);
 z-index: 3;
}
footer .container{
  height: 250px;
}
.footer-left{
 padding: 0;
 transform: skewY(-10deg);
 position: absolute;
 top: 30px;
}
.footer-left ul{
 float:left;
}
.footer-left h3{
 margin: 0 20px;
 font-size: 23px;
 text-align: left;
}
footer li {
 margin-top:0px;
 font-size:14px;
 line-height: 28px;
 text-align: left;
}
footer li a{
 color: inherit;
}
.twitter{
 float: right;
 color: #fff;
 margin: 20px 10px;
 background-color: #0099ff;
 font-size: 33px;
 padding: 6px;
 border-radius: 10px;
 transform: skewY(-10deg);
}
.instagram{
  position: relative;
  display: inline-block;
  float: right;
  text-align: center;
  margin: 20px 10px;
  transform: skewY(-10deg);
  overflow: hidden;
  border-radius: 10px;
}
.insta-back{
  position: relative;
  display: inline-block;
  width: 47px;
  height: 47px;
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  border-radius: 10px;
}
.instagram::before{
  content: "";
  width: 60px;
  height: 60px;
  z-index: 3;
  position: absolute;
  top: 21px;
  left: -19px;
  background: -webkit-radial-gradient(#ffcc66 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffcc66 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
}
.fa-instagram {
  color: #FFF;
  padding-top: 3px;
  position: relative;
  z-index: 4;
  font-size:39px;
  line-height: 50px;
}
.facebook{
  float: right;
  color:darkblue;
  padding: 0;
  margin: 20px 10px;
  font-size:3.1em;
  transform: skewY(-10deg);
  border-radius: 30%;
}
.footer-back{
  height: 250px;
  background:#eee;
  margin:0;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  transform: skewY(-6deg);
  position: relative;
  top: -120px;
  z-index: 2;
}
.copyright{
  margin-top: 330px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
  font-size:12px;
  transform: skewY(6deg);
  color: #ccc;
}

@media(min-width:700px){
  #search{
    display: inline-block;
    margin-top: -55px;
    margin-top: 12px;
    margin-right: 15px;
    position: relative;
    z-index: 3;
  }
  #header-right{
    display: none;
  }
  .menus{
    margin-top: 20px;
    margin-right: 240px;
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
    float: right;
  }
  .pcmenu{
    margin-right: 20px;
    display: inline-block;
  }
  .pcmenu:hover{
    color: #ddd;
  }
  .con{
    width: 100%;
    padding-top: 60px;
  }
  h1{
    letter-spacing: 8px;
    padding-top: 300px;
    font-size: 4.7em;
  }
  #modal{
    background: #fff;
    height: 500px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    margin: 90px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    /* transition: .9s; */
  }
  #idconfirm{
    font-size: 15px;
    font-weight: normal;
  }
  #pasuconfirm{
    font-size: 15px;
    font-weight: normal;
  }
  .explain{
    margin: 80px auto;
    font-size: 19px;
  }
  .con{
    width: 100%;
    padding-top: 60px;
  }
  .contents h3{
    font-size: 45px;
  }
  .leaf{
    font-size: 5.5em;
  }

  .contents-img{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    width: 33.3333%;
  }
  .flex{
    display: flex;
    max-width:800px;
    width: 100%;
    margin: auto;
  }
  .news{
    margin-top: 160px;
  }
  .news h3{
    font-size: 38px;
    margin-bottom: 50px;
  }
  .news ul li{
    font-size: 16px;
    margin-left: 100px;
  }
  .footer-left{
   margin-left: 20px;
   transform: skewY(-10deg);
   position: absolute;
   top: 30px;
  }
  .footer-left ul{
   float:left;
  }
  .footer-left h3{
   margin:0px 0 0 10px;
   font-size: 27px;
  }
  footer li {
   margin-top:0px;
   list-style:none;
   font-size:16px;
   line-height: 28px;
  }
  footer li a{
   color:black;
  }
  .facebook{
    margin: 90px 30px;
  }
  .instagram{
    margin: 90px 30px;
  }
  .twitter{
    margin: 90px 30px;
  }
  .copyright{
    font-size: 16px;
    text-align: center;
  }
}

@media(min-width:850px){
  .menus{
    margin-top: 20px;
    margin-right: 230px;
    display: inline-block;
    font-weight: normal;
    font-size: 20px;
    float: right;
  }
  .pcmenu{
    margin-right: 80px;
  }
  /* #modal{
    background: #fff;
    height: 700px;
    width: 60%;
    text-align: center;
    margin: 90px auto;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
  } */
  /* #modal h4{
    font-size: 2.1em;
  } */
}
